doctype html
| PASTE YOUR HTML CODE HERE
head
  title Seerver Sumbangan
  script(type='text/javascript').
    if (foo) bar(1 + 5)
  style.
    body {
    color:white;
    background : #222
    }
    #container {
    background-image :url('https://www.pngfind.com/pngs/b/462-4625058_cloud-illustration-png.png');
    background-color :#222;
    background-repeat : no-repeat;
    height :100vh;
    background-position : right
    }
h1 Selamat Datang
#container.col
  p server catatan_sumbangan
  p https://catatan-sumbangan
